body {
    background: #000;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-shadow: #000 0px 1px 0px;
}
#place {
    margin: 0 15px 10px 15px;
    font-weight: bold;
    font-size: 24px;
}
#today, #tomorrow {
    background: #1670bc -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0)));
    border: 4px solid #D6E5F2;
    padding: 0 10px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.8) 0px 1px 16px;
    position: relative;
    margin-bottom: 20px;
    position: relative;
}
#tomorrow {
    height: 48px;
}
.condition {
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 400%;
}
#today .condition {
    height: 128px;
}
#tomorrow .condition {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    -webkit-background-size: 48px;
}
#high-low {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
#low, #tomorrow-low {
    opacity: 0.4;
}

#tomorrow {
    line-height: 48px;
    font-size: 150%;
}

#tomorrow-weekday {
    float: left;
}

#tomorrow-high-low {
    float: right;
}

#tomorrow-high, #tomorrow-low {
    display: inline-block;
    margin-left: 0.3em;
}

#update {
    width: 100%;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0 0 6px;
    border: 0;
    -webkit-border-radius: 10px;
    height: 40px;
    background: #1261a4 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.3)), color-stop(50%, rgba(0,0,0,0.4)), to(rgba(0,0,0,0.5)));
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
    text-shadow: #000 0px -1px 0px;
}
#update[disabled] {
    color: rgba(255,255,255,0.5);
    background-color: #666;
}
#status {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}